h1{
    text-align: center;
    color: white;
}
.big{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px 10px;
    text-align: center;
    border: solid 2px;
    padding: 0 0 0 0;
    height: 500px;
    overflow: scroll;
    
}
h4{
    height: 50px;
    color : silver;
    padding-top: 20px;
    font-size: larger;
    border: solid 2px palevioletred;
    border-radius: 100px;
    box-shadow: 0 0 20px palevioletred;
}
body{
   background-color: black;
}
.small{
    text-align: left;
    margin: 0 20px;
    background-color: goldenrod;
    grid-template-columns: 50% 50%;

}
input{
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 100px;
    margin: 10px;
    border:solid 1px white;
    font-size:  medium;
}
input:hover{
    background-color: palegoldenrod;
    color: black;
}

.nd{
    
    border: solid 2px palegoldenrod;
    border-radius: 100px;
    box-shadow: 0 0 10px palegoldenrod;
    
    
    
    
}
.d{
    border: solid 2px palegreen;
    box-shadow: 0 0 10px palegreen;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    

}
.d:hover{
    background-color: blanchedalmond;
}
div.b{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
button{
    width: 100px;
    border-radius: 100px;
    border: solid 2px white;
    box-shadow: 0 0 10px white;
    height: 50px;
    font-weight: bold;
    margin: 0 10px;
    color : white;
    background-color: black;
}
button:hover{
    height: 60px;
    background-color: gold;
    color: black;
    border: solid 2px black;
}

input[type="checkbox"] {
    accent-color: green;
    height: 20px;
    
}
input[type="checkbox"]:hover {
    accent-color: red;
    
    height: 25px;
    
}
input.in{
    border: solid 2px white;
    box-shadow: 0 0 10px white;
    height: 23px;
}
@media screen and (max-width:600px) {
    input{
        width: 20px;
    }
    .in{
        width: 100px;
        font-size: small;
    }
    input[type="checkbox"] {
        accent-color: green;
        height: 15px;
        
    }
    ::-webkit-scrollbar{
        background-color: grey;
        width: 5px;

    }

}


